body {
  margin: 5px 25px;
  font: 100% verdana sans-serif;
}

body p {
    font-size: 1.2rem;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.4rem;
}

img {
  max-width: 100%;
}

figure {
  margin: 25px 0;
}

@media screen and (min-width: 960px) {
    body {
        background-color: aquamarine;
        margin: 35px 20px;
    }

    body p {
        font-size: 1.16rem;
    }

    .figure-container {
        display: flex;
        flex-wrap: wrap;
    }

    figure {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        align-items: center;
    }
}

@media screen and (min-width: 1630px) {
    body {
        background-color: cadetblue;
        max-width: 1800px;
        margin: 20px 40px;
    }

    body p {
        font-size: 1.74rem;
    }

    h1 {
        font-size: 2rem;
    }
}